.container {
  height: 490px;
  width: 590px;
  border: solid 1px black;
  position: relative;
  background-color: rgba(128, 0, 128, 0.5);
}

.character {
  height: 70px;
  width: 48px;
  background-color: white;
  border: solid 1px black;
  border-bottom: dotted;
  box-sizing: border-box;
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: ghost 1s linear infinite;
  left: 0;
  top: 5px;
}

.character::before {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  border-radius: 50%;
  background-color: black;
  transform: translate(165%, 180%);
}

.character::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  border-radius: 50%;
  background-color: black;
  transform: translate(325%, 80%);
}

@keyframes ghost {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}